
.incomingHeader {

}

.outgoingHeader {

}

.hincomingHeader {

}

.houtgoingHeader {

}

.ooutgoingHeader {

}

.systemHeader {

}
.hincomingMsg, .incomingMsg{
    background-color: #ececec;
    display: inline-block;
    font-size: 1pt;
}
.houtgoingMsg, .outgoingMsg, .ooutgoingMsg{
    background-color: #bbebff;
    padding: 10px 18px;
    font-size: 1pt;
}
.message {
    color: #000000;
    font-size: 13pt;
}

.name{
    font-weight: bold;
    font-size: 13pt;
}

.time {
    color: #9a9ab4;
    font-size: 12pt;
}
