.name{
	font-weight: bold;
}

.time {
color: #9a9ab4;
}

.incomingHeader {

}

.outgoingHeader {

}

.hincomingHeader {

}

.houtgoingHeader {

}

.ooutgoingHeader {

}

.systemHeader {
  background-color: rgba(241,231,103,1);
}
.hincomingMsg, .incomingMsg{
    background-color: #dbdbdb;
    display: inline-block;
}
.houtgoingMsg, .outgoingMsg, .ooutgoingMsg{
    background-color: #ade7ff;
    padding: 10px 18px;
}
