<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Unseen P2P Communicator</Name>
    <Version>0.6.9</Version>
    <Title>Unseen P2P Communicator</Title>
    <Publisher>Unseen.is</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>Unseen P2P Communicator </StartMenuDir>
    <TargetDir>@ApplicationsDir@/UnseenP2P</TargetDir>
</Installer>
